td, th {
	border: 1px solid;
  border-color: #99ccff;
  }
  
  body {
    background-image: url("../images/stars.jpg");
    background-size: cover;
    }

    th{
      margin: 0px;
      padding-bottom: 9px;
      padding-top: 9px;
      padding-left: 9px;
      padding-right: 9px;
    }

   
  td {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  }