body {
    background-image: url("../images/stars.jpg");
    background-size: cover;
    }

    th{
      padding-bottom: 9px;
      padding-top: 9px;
    }

   
  td {
  padding-top: 10px;
  padding-bottom: 10px;
  }

  td, th {
    border: 1px solid;
    border-color: #99ccff;
    }

    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 200;
      font-style: normal;
      font-size: 2em;
      color: #99ccff;
      text-align: center;
    }

  
#section1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#section2 {
  padding-top: 10px;
  padding-bottom: 10px;
}